data_sql/* filter=lfs diff=lfs merge=lfs -text

* text eol=lf
*.md text

*.db binary
*.doc binary
*.docx binary
*.jar binary
*.jpg binary
*.mwb binary
*.odg binary
*.odt binary
*.otf binary
*.pdf binary
*.png binary
*.pptx binary
*.ttf binary
*.xls binary
*.xlsx binary
*.woff binary
*.woff2 binary
*.zip binary
